@tailwind base;
@tailwind components;
@tailwind utilities;

@base {
  html {
    font-size: 16px;
  }
  body {
    font-family: "Roboto";
    font-weight: "400";
  }
}

@layer components {
  .btn-purple {
    @apply transition duration-300 ease-in-out bg-purple-400 hover:bg-purple-600 text-purple-50 text-center font-medium rounded-lg shadow-lg hover:shadow-xl px-4 py-1;
  }

  .btn-inputs {
    @apply transition duration-300 ease-in-out bg-gray-200 text-gray-900 text-xs hover:bg-gray-300 text-gray-500 text-center font-medium rounded-r-lg shadow-lg hover:shadow-xl px-4 py-1;
  }

  .btn-yellow {
    @apply transition duration-300 ease-in-out bg-yellow-400 hover:bg-yellow-600 text-yellow-900 text-center font-medium rounded shadow-lg hover:shadow-xl px-4 py-1;
  }

  .form__input {
    @apply py-1 w-full border rounded focus:border-purple-200 appearance-none focus:outline-none transition-colors duration-300 ease-in-out;
  }

  .btn-gray {
    @apply bg-gray-50 hover:bg-yellow-300 shadow-md font-medium text-gray-900 text-center rounded p-3 m-2 w-36 md:text-xs transition duration-300 ease-in-out;
  }
}
